body {
      text-align: center;
      background-size:cover;
      background-position:center;
      color:Ivory;
      font-family: helvetica; 
      font-size:22px;
     }
input {
      border:3px solid DodgerBlue;
      padding:10px;
      background-color:Ivory;
      }
input[type="submit"] {
      background: Ivory;
      color: DodgerBlue;
      }
img {
      border: 10px solid DodgerBlue;
      border-radius:50%;
      width:300px;
      height:300px;
    }
li {
      display: block;
        padding: 0px 10px 0px 10px;
        background: DodgerBlue;
        color: Ivory;
  }
ul { 
      padding: 10px;
        background: rgba(0,0,0,0.5);
      }
